body{
 background: url("../assets/parallax1.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

.title{
justify-content: center;
text-align: center;
padding: 120px;
color: white;

}
.heading {
    color: white;
    text-align: center;
    padding-top: 20px;
}
.brand {
background-color: black;
    height: 400px;
    width: 100%;
}
.brand-1 {
    background-color: #fff;
    height: 400px;
    width: 100%;
}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  
}
.content{
    padding-top: 60px
}
